In [18]:
handle = open("input.txt", "r")
content = handle.read()
print(content)
handle.close()
#playing around with content
handle = open("output.txt", "w")
handle.write(content)
handle.close()

123

In [19]:
handle = open("output.txt", "r")
print(handle.read())
handle.close()

123

In [21]:
import csv

# 写入 CSV 文件
students = [['name', 'gender', 'age'],
            ['zhangsan', 'male', 13],
            ['lisi', 'female', 14]]

handle = open('students.csv', 'w', newline='')  # 添加 newline='' 避免写入时的多余换行
writer = csv.writer(handle)
writer.writerows(students)
handle.close()

# 读取 CSV 文件
handle = open('students.csv', 'r')
reader = csv.reader(handle)
for row in reader:
    print(row)

handle.close()

['name', 'gender', 'age']
['zhangsan', 'male', '13']
['lisi', 'female', '14']

In [57]:
import sqlite3
conn = sqlite3.connect('example.db')
conn_memory = sqlite3.connect(':memory:')

In [58]:
c = conn.cursor()
c.execute('''CREATE TABLE stocks
(date text, trans text, symbol text, qty real, price real)''')
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
conn.commit()
conn.close()

In [59]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

In [63]:
# Insecure example
# symbol = 'RHAT'
# c.execute("SELECT * FROM stocks WHERE symbol = '%s'" % symbol)

# Secure example using parameterized query
t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

# Larger example that inserts many records at a time
purchases = [
    ('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
    ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
    ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

<sqlite3.Row object at 0x000001C662A32D70>

OperationalError: database is locked

In [33]:
import sqlite3

conn = sqlite3.connect('a.db')
c = conn.cursor()
c.executescript(open('a.sql').read())

result = list(c.execute('SELECT * FROM news'))
print(result)

OperationalError: table news already exists

In [61]:
import sqlite3

conn = sqlite3.connect('example.db')
conn.row_factory = sqlite3.Row  # 设置返回结果为 Row 对象
c = conn.cursor()

c.execute('SELECT * FROM stocks')
r = c.fetchone()

print(tuple(r))  # 将 Row 对象转换为元组
print(len(r))    # 获取 Row 对象的长度
print(r[2])      # 访问 Row 对象的第三个字段

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
5
RHAT

In [62]:
import sqlite3

conn = sqlite3.connect('example.db')
conn.row_factory = sqlite3.Row  # 设置返回结果为 Row 对象
c = conn.cursor()

# 查询并打印每行的内容
for row in c.execute('SELECT * FROM stocks ORDER BY price'):
    print(dict(row))  # 将 Row 对象转换为字典并打印

{'date': '2006-01-05', 'trans': 'BUY', 'symbol': 'RHAT', 'qty': 100.0, 'price': 35.14}

In [64]:
import json

# 将数据序列化为 JSON 格式
json_str = json.dumps(['foo', {'bar': ('baz', None, 1.0, 2)}])
print(json_str)

# 序列化字典并按键排序
print(json.dumps({"c": 0, "b": 0, "a": 0}, sort_keys=True))

# 将数据写入 JSON 文件
handle = open("output.json", "w")
json.dump({'foo': 123, 'bar': 'buz'}, handle)
handle.close()

["foo", {"bar": ["baz", null, 1.0, 2]}]
{"a": 0, "b": 0, "c": 0}

In [65]:
import json

# 解析 JSON 字符串
json_str = '["foo", {"bar":["baz", null, 1.0, 2]}]'
data = json.loads(json_str)
print(data)

# 从文件中加载 JSON 数据
handle = open('output.json', 'r')
b = json.load(handle)
handle.close()
print(b)

['foo', {'bar': ['baz', None, 1.0, 2]}]
{'foo': 123, 'bar': 'buz'}

In [66]:
import pickle

# 保存字典到 pickle 文件
favorite_color = {"lion": "yellow", "kitty": "red"}
pickle.dump(favorite_color, open("save.p", "wb"))

# 从 pickle 文件加载数据
favorite_color = pickle.load(open("save.p", "rb"))

# 序列化对象为二进制字符串
serialized = pickle.dumps(favorite_color)

# 反序列化二进制字符串为对象
deserialized = pickle.loads(serialized)